.heading {
  height: 40px;
}

.game {
  text-align: center;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  overflow: hidden;
}

.grid-item {
  outline: 2px solid #000;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}